<%= form_for(@response) do |f| %>
  <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% @response.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="row">
    	<div class="col-md-9">
    		<%= f.text_field :name, :class => "form-control input-lg", :placeholder => "New Lyric", :required => true %>
    	</div>
    	<div class="col-md-3">
			<%= f.submit "Create", :class => "btn btn-primary btn-lg col-md-12" %>
    	</div>
    </div>
  </div>
  <div class="actions">
    
  </div>
<% end %>
